stylish_footer
    footer(id="footer")
        div(id="footer-70")
            div(id="left-footer")
                ul
                    li(class="-Stylish") 關於 Stylish
                    li(class="footer-bar") |
                    li(class="footer-text") 服務條款
                    li(class="footer-bar") |
                    li(class="footer-text") 隱私政策
                    li(class="footer-bar") |
                    li(class="footer-text") 聯絡我們
                    li(class="footer-bar") |
                    li(class="footer-text") FAQ
            div(id="right-footer")
                div(id="icons")
                    img(src="/public/img/btn-line-01-normal.svg", alt="", class="btn_line01_normal icons")
                    img(src="/public/img/btn-twitter-01-normal.svg", alt="", class="btn_twitter01_normal icons")
                    img(src="/public/img/btn-facebook-01-normal.svg", alt="", class="btn_facebook01_normal icons")
                span(id="copy-right") &copy; 2018. All rights reserved.
                