extends ../layout.pug 

block content
    h2 weekend plan
    ol 
        li Set dotenv framework
        li util framework
        li multer : How to upload by multer while keeping pm2 watching ?
        li crypto : What is update and digest mean ?
        li fs :
        li (object)[0] : What the heck is this ?
        li How to require script as function base ?
        li Clean code 
        li How to activate AWS https port ?