extends ../layout.pug 

block content
    h2 Website Guide :
    ol 
        li 
            a(href='/notes/note_index') Elvin's note :
        li
            a(href='https://github.com/AppWorks-School/Web-Backend-2019-Winter') Appworks Guide :
        li
            a(href='https://github.com/ElvinCTW/Web-Backend-2019-Winter/pulls') Pull Request Site
    h2 Stylish
    ul
        li 
            a(href='/admin/product.html') Product Management Page (html)
        li 
            a(href='/user/SignIn.html') User Sign In Page (html)
        li 
            a(href='/admin/checkout.html') Checkout Page (html)
        li 
            a(href='/index.html') Index Page (html)
        li 
            a(href='/product.html?id=1') Product Page (Pug)
        li 
            a(href='/profile.html') Profile Page (Pug)
        li 
            a(href='/user/sign.html') Sign Page (Pug)
        li 
            a(href='/product_checkout.html?id=1') Product_Checkout Page (pug)