extends stylish_layout.pug
block content
    div(id='main')
        h1 Add new Campaign
        form(action="/admin/addCampaign", method="post" enctype="multipart/form-data" id="addCampaignForm")
            label Product_ID : 
            a(href="http://localhost:3000/api/V1.0/products" target="_blank" id="getID") Get test ID here
            br
            input(id="product_id" type="number" name="product_id" placeholder="0123456789" min="0" max="9999999999" required)
            br
            label Story : 
            br
            input(id="story" type="text" name="story" placeholder="輸入故事")
            br
            label Picture : 
            br
            input(id="picture" type="file" name="picture")
            br
            button(type="submit" id="submitButton") Submit!

