extends stylish_layout.pug
block content
    div(id='banner')
        div(id='banner-text')
            p 於是
            p 我也想要給你
            p 一個那麼美好的自己。
            p(id='small') 不朽《與自己和好如初》
    div(id='main')
        div(id='products-div')
    script(src="/public/JS/index.js")
