extends stylish_layout.pug
block content
    div(id="main")
        div(id="products-div-info")
            div(id="main-info" class="flexbox space-between")
                div(id="main-image-info")
                div(id="main-content-info" class="flexbox")
                    p(id="main-content-title-info") 前開衩扭結洋裝
                    p(id="main-content-id-info") 03040047
                    p(id="main-content-price-info") TWD.590
                    div(id="main-content-horizatal-line-info") 
                    div(id="main-content-color-bar" class="main-content-info-bar flexbox")
                        span(class="main-content-info-bar-title") 顏色｜
                        div(id="main-content-color-block-parent" class="flexbox")
                    div(id="main-content-size-bar" class="main-content-info-bar flexbox")
                        span(class="main-content-info-bar-title") 尺寸｜
                        div(id="main-content-size-block-parent" class="flexbox")
                    div(id="main-content-count-bar" class="main-content-info-bar flexbox")
                        span(class="main-content-info-bar-title") 數量｜
                        div(id="main-content-count-block-parent" class="flexbox space-between")
                            img(src="/public/img/bitmap.png", alt="", srcset="/public/img/bitmap@2x.png 2x, /public/img/bitmap@3x.png 3x" class="Bitmap")
                            span(id="main-content-count") 1
                            img(src="/public/img/bitmap.jpg", alt="", srcset="/public/img/bitmap@2x.jpg 2x, /public/img/bitmap@3x.jpg 3x" class="Bitmap")
                    div(id="cardview-container")
                    button(id="submit-button" onclick="onClick()") 手刀購物
                    div(id="main-content-other-info" class="flexbox space-between") 
                        p(id="main-content-note") note
                        div(id="main-content-not-place-info")
                            p(id="main-content-texture-info") texture
                            p(id="main-content-wash-info") wash
                            p(id="main-content-description-info") description
                        div(id="main-content-place-info")
                            p(id="main-content-place-info") place
            div(id="middle-line-div" class="flexbox")
                span(id="middle-text") 細部說明
                div(id="middle-line")
            div(id="product-0-text" class="product-text-info")
            div(id="product-0-pic" class="product-pic-info")
                img(src="", alt="" class="product-pic-img-info")
            div(id="product-1-text" class="product-text-info")
            div(id="product-1-pic" class="product-pic-info")
                img(src="", alt="" class="product-pic-img-info")
    script(src="https://js.tappaysdk.com/tpdirect/v5")  
    script(src="/public/JS/product_checkout_pug.js")
    //- render html pwd = public 
