extends stylish_layout.pug
block content
        div(class='main-profile') 
            div(id='main-profile-inside-info' class='main-profile-inside')
                h1(id='profile-errorMessage') User Profile
                
                button(id='clean-token-btn') Sign Out
        script(src="/public/JS/profile.js")