extends stylish_layout.pug
block content
    //- token prepare for adding function
    div(class='main-profile')
        div(id='main-profile-inside-sign' class='main-profile-inside')
            //- Show signIn signUp page
            h1 請登入以繼續
            //- Set Inputs for ajax request
            label Email :
            br
            input(type="email" id="email" name="email" placeholder="請輸入帳號" value='test@test.com')
            br
            label Password :
            br
            input(type="password" id="password" name="password" placeholder="請輸入密碼" value='test')
            br
            div(id='div-for-signup' style='display: none;')
                label Name :
                br
                input(type="text" id="name" name="name" placeholder="用戶暱稱" value='用戶一')
                br
                //- label 照片 :
                //- br
                //- input(type="file" id="picture" name="picture")
                //- br
            button(id='signin-btn') 我要登入
            button(id='signup-btn' style='display: none;') 我要註冊
            br
            button(id="switchBtn" onclick="signSwitch()") 註冊點這裡
            br
            //- div(id='fb-sign-div')
            //-     span 臉書登入
            //-     fb:login-button(scope="public_profile,email" autologoutlink="true" onlogin="checkLoginState();")
            //-     span(id="FB_STATUS_1")
    //- Show profile page
    //- Load JS files
    script(src="/public/JS/sign.js")